body {
    font-size: 30px;
    font-family: Tahoma;
    
  }
  form {
    text-align:center;
  }
  .center {
    text-align:center;
  }
  #marquee {
    color: red;
    font-family:Impact;
  }
.tickets{
    padding: 50px;
}  